<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>second</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.jishan.action.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.jishan.action.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.jishan.action.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.jishan.action.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUserListServlet</display-name>
    <servlet-name>ShowUserListServlet</servlet-name>
    <servlet-class>com.jishan.action.ShowUserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserListServlet</servlet-name>
    <url-pattern>/ShowUserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.jishan.action.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.jishan.action.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToUpdateUserServlet</display-name>
    <servlet-name>ToUpdateUserServlet</servlet-name>
    <servlet-class>com.jishan.action.ToUpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToUpdateUserServlet</servlet-name>
    <url-pattern>/ToUpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookServlet</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>com.jishan.action.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBookListServlet</display-name>
    <servlet-name>ShowBookListServlet</servlet-name>
    <servlet-class>com.jishan.action.ShowBookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBookListServlet</servlet-name>
    <url-pattern>/ShowBookListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToUpdateBookServlet</display-name>
    <servlet-name>ToUpdateBookServlet</servlet-name>
    <servlet-class>com.jishan.action.ToUpdateBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToUpdateBookServlet</servlet-name>
    <url-pattern>/ToUpdateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookServlet</display-name>
    <servlet-name>UpdateBookServlet</servlet-name>
    <servlet-class>com.jishan.action.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookServlet</servlet-name>
    <url-pattern>/UpdateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookServlet</display-name>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>com.jishan.action.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/DeleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowChildBookServlet</display-name>
    <servlet-name>ShowChildBookServlet</servlet-name>
    <servlet-class>com.jishan.action.ShowChildBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowChildBookServlet</servlet-name>
    <url-pattern>/ShowChildBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.jishan.action.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowNovelBookServlet</display-name>
    <servlet-name>ShowNovelBookServlet</servlet-name>
    <servlet-class>com.jishan.action.ShowNovelBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNovelBookServlet</servlet-name>
    <url-pattern>/ShowNovelBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTeachBookServlet</display-name>
    <servlet-name>ShowTeachBookServlet</servlet-name>
    <servlet-class>com.jishan.action.ShowTeachBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTeachBookServlet</servlet-name>
    <url-pattern>/ShowTeachBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowHistoryBookServlet</display-name>
    <servlet-name>ShowHistoryBookServlet</servlet-name>
    <servlet-class>com.jishan.action.ShowHistoryBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHistoryBookServlet</servlet-name>
    <url-pattern>/ShowHistoryBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowYoungBookServlet</display-name>
    <servlet-name>ShowYoungBookServlet</servlet-name>
    <servlet-class>com.jishan.action.ShowYoungBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowYoungBookServlet</servlet-name>
    <url-pattern>/ShowYoungBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSuccessBookServlet</display-name>
    <servlet-name>ShowSuccessBookServlet</servlet-name>
    <servlet-class>com.jishan.action.ShowSuccessBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSuccessBookServlet</servlet-name>
    <url-pattern>/ShowSuccessBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTechnologyBookServlet</display-name>
    <servlet-name>ShowTechnologyBookServlet</servlet-name>
    <servlet-class>com.jishan.action.ShowTechnologyBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTechnologyBookServlet</servlet-name>
    <url-pattern>/ShowTechnologyBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowReligionBookServlet</display-name>
    <servlet-name>ShowReligionBookServlet</servlet-name>
    <servlet-class>com.jishan.action.ShowReligionBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowReligionBookServlet</servlet-name>
    <url-pattern>/ShowReligionBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCartListServlet</display-name>
    <servlet-name>ShowCartListServlet</servlet-name>
    <servlet-class>com.jishan.action.ShowCartListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCartListServlet</servlet-name>
    <url-pattern>/ShowCartListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookNumServlet</display-name>
    <servlet-name>AddBookNumServlet</servlet-name>
    <servlet-class>com.jishan.action.AddBookNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookNumServlet</servlet-name>
    <url-pattern>/AddBookNumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DecreaseBookNumServlet</display-name>
    <servlet-name>DecreaseBookNumServlet</servlet-name>
    <servlet-class>com.jishan.action.DecreaseBookNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DecreaseBookNumServlet</servlet-name>
    <url-pattern>/DecreaseBookNumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartServlet</display-name>
    <servlet-name>DeleteCartServlet</servlet-name>
    <servlet-class>com.jishan.action.DeleteCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartServlet</servlet-name>
    <url-pattern>/DeleteCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrderServlet</display-name>
    <servlet-name>ShowOrderServlet</servlet-name>
    <servlet-class>com.jishan.action.ShowOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderServlet</servlet-name>
    <url-pattern>/ShowOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCollectionServlet</display-name>
    <servlet-name>AddToCollectionServlet</servlet-name>
    <servlet-class>com.jishan.action.AddToCollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCollectionServlet</servlet-name>
    <url-pattern>/AddToCollectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCollectionListServlet</display-name>
    <servlet-name>ShowCollectionListServlet</servlet-name>
    <servlet-class>com.jishan.action.ShowCollectionListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCollectionListServlet</servlet-name>
    <url-pattern>/ShowCollectionListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCollectiontServlet</display-name>
    <servlet-name>DeleteCollectiontServlet</servlet-name>
    <servlet-class>com.jishan.action.DeleteCollectiontServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCollectiontServlet</servlet-name>
    <url-pattern>/DeleteCollectiontServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCollectionServlet</display-name>
    <servlet-name>DeleteCollectionServlet</servlet-name>
    <servlet-class>com.jishan.action.DeleteCollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCollectionServlet</servlet-name>
    <url-pattern>/DeleteCollectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.jishan.action.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.jishan.action.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>